/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgba(242, 238, 238, 0.38);
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: red;
}

/* Book container section */
.books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Adjust spacing between cards */
}

/* Book card styling */
.book-card {
    width: 25%; /* Adjust card width as needed */
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
}


.book-card img {
    width: 100%;
    border-bottom: 1px solid black;
    height: 200px; /* Adjust image height as needed */
    object-fit: cover; /* Scales image to fill container */
}

.book-card:hover {
    transform: scale(1.05); /* Scale up on hover */
    transition: transform 0.2s ease-in-out; /* Smooth transition */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Add subtle shadow on hover */
}


.book-info {
    padding: 15px;
}

.book-card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.book-card p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 5px;
}
